<h1>Congrats!</h1>

<p class="lead">You have decided to improve <a href="<%= tweet_url %>"
    target="_blank">one of Donald Trump’s tweets</a>. Below is a cropped
  screenshot of your improvement. It has been already uploaded to imgur for you
  and is available here: <a href="<%= imgur_url %>" target="_blank"><%=
  imgur_url %></a>. Share it widely, or keep hacking away at it. And then share
it widely.</p>

<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=I%20have%20improved%20a%20Trump%20tweet%20using%20The%20Trumprover%20<%= imgur_url %>&url=http%3A%2F%2Ftrumprover.moacir.com%2F"
    data-size="large">
    Tweet out this improved tweet</a>


<center>
  <img src="<%= imgur_url %>" class="img-responsive img-thumbnail" alt="<%= tweet_text %>">
</center>

<footer>

  <p><small>This was written by <a href="https://twitter.com/muziejus"
        target="_blank">@muziejus</a>, because sometimes the best way to deal
      with discomfort and uncertainty is to add even more.</small></p>

</footer>
